$-body-bg: #0f1624;
$-sidebar-bg: white;
$-text-color: #ffffff;
$-title-color: #646cff;
$-title2-color: #8ff0b3;
$-date-color: #d0bb57;

/* dark-mode */
$-icon-color: #d0bb57;
$-circle-color: #9cc9e3;
$-circle-color-plein: linear-gradient(270deg, #13adc7 0%, #945dd6 100%);

/* fonts*/
$-font-base: 'Poppins', sans-serif;
$-h1-fs: 1.7rem;
$-h2-fs: 1.3;
$-h3-fs: 1.1rem;
$-h4-fs: 1rem;

/* helpers */
$-spacing-1: 0.4rem;
$-spacing-2: 0.8rem;
$-spacing-3: 1.2rem;
$-spacing-4: 1.5rem;
$-spacing-5: 2rem;
