.formation {
  margin: 9rem 2rem 0 10rem;
  width: 100%;
  
  & > h2 {
    letter-spacing: $-spacing-1;
    color: $-title-color;
  }

  &_skills {
    margin: 2rem 5rem 0 1rem;
    width: 100%;

    & > li {
      list-style-type: none;

      & > h2 {
        letter-spacing: 0.1rem;
      }
    }

    &_skill {
      margin-left: 1.2rem;

      & > li {
        letter-spacing: 0.1rem;
        font-size: 1.6rem;
      }
    }
  }
}
