.formation {
  margin: 5rem 3rem;
  width: 50%;

  & > h2 {
    letter-spacing: 0.2rem;
    color: $-title-color;
    margin: 3.5rem 0.3rem 0.5rem 0;
    font-size: 22px;
  }

  &_skills {
    width: 100%;

    & > li {
      list-style-type: none;

      & > h2 {
        margin-top: 0.2rem;
        letter-spacing: 0.1rem;
        font-size: 18px;
      }
    }

    &_skill {
      & > li {
        letter-spacing: 0.1rem;
        font-size: 13px;
      }
    }
  }
}
