.personal__info {
  text-align: center;

  & > img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-top: 2rem;
  }

  &_user {
    text-align: center;
    letter-spacing: 0.1rem;

    & > p {
      color: $-text-color;
      font-size: 18px;

      & > svg {
        margin-right: 0.1rem;
      }
    }

    & > a {
      font-size: 18px;
    }
    & > a > svg {
      margin-right: 0.1rem;
    }
  }
}
